/*
 *  Fonts
 * ------------------------------------------------------------------------------
 */
/* Khmer Os Battambang */
@font-face {  font-family: "Khmer Os Battambang";font-style: normal;font-weight: 400;src: local("Khmer Os Battambang"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot?#iefix") format("embedded-opentype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff2") format("woff2"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff") format("woff"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.ttf") format("truetype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.svg#svgFontName") format("svg");unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }
/* BayonV8Khmer */
@font-face { font-family: "BayonV8Khmer";font-style: normal;font-weight: 400;src: local("BayonV8Khmer"),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.eot") format('eot'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.svg") format('svg'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.ttf") format('ttf'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff") format('woff'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff2") format('woff2');unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }

/*
 *  Global CSS
 * ------------------------------------------------------------------------------
 */
body {
    font-family: Khmer Os Battambang,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
    background: #FFFFFF;
    overflow-x: hidden;
    position:relative;
}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
.overlay.open{left:0;right:0}
.sidebarNavigation{margin-bottom:0;z-index:997;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:10px;order:-1}
.sideMenu{left:-100%;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:100%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0;padding:0 15px}

/* header tag */
h1 { font-size: 24px;font-weight: 900; }
h2 { font-size: 20px;font-weight: 900; }
h3 { font-size: 18px;font-weight: 900; }
h4 { font-size: 16px;font-weight: 900; }
h5 { font-size: 14px;font-weight: 700; }
h6 { font-size: 12px;font-weight: 900; }
/* paragraph */
p { font-size: 14px; line-height: 28px; }
/* link */
a, a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
/* list */
ol, ul, dl { padding: 0; }
ul li,ol li{ list-style: none; }
/* form */
textarea:focus, input:focus, button:focus {
    outline: none;
}

/*
 *  Header
 * ------------------------------------------------------------------------------
 */

/*
 *  Navigation
 * ------------------------------------------------------------------------------
 */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
header {
    height: 60px;
}
header nav.navbar {
    background-color: #032ea1 !important;
    padding-top: 0;
    padding-bottom: 0;
}
/*header nav.navbar .navbar-brand img {
    max-height: 50px;
}*/
header nav.navbar .navbar-toggler {
    border: 0;
    outline: none;
    padding-left: 0;
}
header nav.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbarsExampleDefault ul.nav li {
    padding: 15px 15px;
    transform: skewx(-30deg);
    transition: background .3s ease, color .3s ease;
}
#navbarsExampleDefault ul.nav li a.nav-link span,
#navbarsExampleDefault ul.nav li a.nav-link i {
    display: inline-block;
    transform: skewx(30deg);
}
#navbarsExampleDefault ul.nav li:first-child {
    margin-left: 15px;
}
#navbarsExampleDefault ul.nav li.active,
#navbarsExampleDefault ul.nav li:hover {
    background-color: #da2001;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
#navbarsExampleDefault ul.nav li a.nav-link {
    font-family: BayonV8Khmer,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;

    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
#navbarsExampleDefault ul.nav li a.nav-link i,
#navbarsExampleDefault ul.nav li a.nav-link div {
    display: inline-block;
}


/* nav right */
.nav-right {
    height: 30px;
}
.nav-right li {
    list-style: none;
}
.nav-right ul:first-child li {
    margin-left: 10px;
}
.nav-right ul:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.3) !important;
    padding-left: 10px;
    margin-left: 15px;
}
/* search overlay */
.nav-right #search-btn {
    color: #ffffff;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    line-height: 30px;
}
/*.nav-right #search-btn:hover {
    color: #ffffff;
}*/
.search-overlay {
    display: none;
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    background: #112032;
    width:100%;
    height:100%;
}
.search-overlay #close-btn {
    color: rgba(255,255,255,.8);
    text-shadow: none;
    font-size: 48px;
    font-weight: 300;
    opacity: 1;

    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
.search-overlay #close-btn:hover {
    color: #ffffff;
}
.search-overlay .form-btn { margin-top: 20%; }
.search-overlay .form-btn input { height:60px; background: transparent; font-size: 24px; color: rgba(255,255,255,.8); }
.search-overlay .form-btn input:focus { background: transparent; outline: none; box-shadow: none; border-color:#ced4da; color: rgba(255,255,255,.8); }
.search-overlay .brd-left-none { border-left: none !important;}
.search-overlay .form-btn .form-control { border-right:none !important;}
.search-overlay .border-bottom { border: none; border-bottom: solid 1px #ced4da; border-radius: 0px;}
.search-overlay .form-btn input::placeholder { color: rgba(255,255,255,.8); font-weight: normal;}
.search-overlay button#button-submit:focus { outline: none; border: 0; box-shadow: none; }
.search-overlay button#button-submit {
    font-size: 24px;
}

/*
 *  Header line
 * ------------------------------------------------------------------------------
 */
.header-title, .header-title-right {
    display: flex;
    color: #ffffff;
    font-family: BayonV8Khmer,Arial,Helvetica,sans-serif;
}
.header-title:before, .header-title:after {
    content: "";
    flex: 1;
}
.header-title.line {
    align-items: center;
    margin: 1em -1em;
}
.header-title.line:before, .header-title.line:after {
    height: 1px;
    margin: 0 1em;
}
.header-title.double-razor:before, .header-title.double-razor:after {
    height: 3px;
    box-shadow: 0 -0.5px 0 #ffffff, 0 0.5px 0 #ffffff;
    border-width: 0;
}
/* header title right */
.header-title-right:before, .header-title-right:after {
    content: "";
    flex: 1;
}
.header-title-right.line {
    align-items: center;
    margin: 1em -1em 1em 0;
}
.header-title-right.line:before {
    height: 1px;
    margin: 0 1em;
}
.header-title-right.line:after {
    height: 1px;
    margin: 0 1em;
}
.header-title-right.double-razor:before, .header-title-right.double-razor:after {
    height: 3px;
    box-shadow: 0 -0.5px 0 #ffffff, 0 0.5px 0 #ffffff;
    border-width: 0;
}
.header-title a, .header-title-right a {
    color: #ffffff;
}

/*
 *  Animation line
 * ------------------------------------------------------------------------------
 */
/*.animation-element {
    opacity: 0;
}
.animation-element.divLine {
    opacity: 1;
    width: 0;
    height: 3px;
    background: #703090;
    -webkit-animation: dude .75s 1 forwards;
    -moz-animation: dude .75s 1 forwards;
    -o-animation: dude .75s 1 forwards;
    animation: dude .75s 1 forwards;
}
@-webkit-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-o-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}*/

/*
 *  Sidebar container
 * ------------------------------------------------------------------------------
 */
#container-sidebar {
    background-color: #DCDCDC;
}
#container-sidebar .header-title {
    border-bottom: 3px solid #032ea1;
}
/* sidebar program */
#sidebar-program {
    margin: 0;
}
#sidebar-program .slide {
    display: none !important;
    position: relative;
}
#sidebar-program .slide:first-child {
    display: block !important;
}
#sidebar-program.slick-initialized .slide {
    display: block !important;
}


/*
 *  Custom
 * ------------------------------------------------------------------------------
 */

/* margin */
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-x-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* padding */
.p-l-15 {
    padding-left: 15px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* position */

.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
/* color */
.color-red {
    color: #ed1c24 !important;
}
.color-black {
    color: #333333 !important
}
/* background */
.bg-black {
    background-color: #333333 !important;
}
.bg-blue-dark {
    background-color: #112032 !important;
}
.bg-red {
    background-color: #da2001 !important;
}
.bg-gradient {
    background: linear-gradient(150deg, #032ea1 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(150deg, #da2001 70%, #032ea1 30%);
}
.bg-block {
    background-color: #DCDCDC;
}
/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}
/* second-brand */
a.second-brand {
    color: rgba(255,255,255,.8) !important;
    font-size: 1.25rem !important;
    line-height: 36px !important;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    display: block;
}
a.second-brand:hover {
    text-decoration: none !important;
}
a.second-brand .brand-image {
    float: left;
    width: auto;
    max-height: 40px;
    margin-top: -3px;
    margin-right: 5px;
}
a.second-brand .elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23) !important;
}
a.second-brand .brand-text {
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}
/* button */
.btn-play {
    position: absolute;
    z-index: 10;
    background-color: #da2001;
    opacity: .8;
}
.btn-play i {
    color: #ffffff;
    font-size: 12px;
}
.btn-play:hover {
    opacity: 1;
}
.btn-sm.tags {
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    border-radius: 0;
    padding: 0.375rem 0.5rem;
}

/*** Bootstrap
---------------------------------------------- ***/
.card .card-body h5.card-title {
    font-size: 14px;
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
    color: #333333;
}
.card .card-body h5.card-title:hover {
    text-decoration: underline;
    color: #032ea1 !important;
}
/* carousel caption */
.carousel-caption {
    left: auto;
    right: auto;
    bottom: 0;
    text-align: left;
}
.carousel-caption .bg-caption {
    background: linear-gradient(0deg, #000000, rgba(255, 255, 255, 0));
}
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5 {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #1a1a1a, 1px -1px 0 #1a1a1a, -1px 1px 0 #1a1a1a, 1px 1px 0 #1a1a1a;
    word-break: break-word;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 68px;
    margin-bottom: 0;
}
.carousel-caption h4 {
    font-size: 16px;
    line-height: 32px;
    max-height: 64px;
    overflow: hidden;
}
.carousel-caption h5 {
    font-size: 14px;
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
}
/* Modal */
#modal-vdo .modal-dialog {
    max-width: 800px;
}
#modal-vdo .modal-body {
    position:relative;
    padding:0px;
}
#modal-vdo .close {
    position:absolute;
    top:0;
    right: 5px;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}
.modal-backdrop.show {
    opacity: 0.7;
}

.card-horizontal {
    flex-direction: inherit !important;
    display: flex;
    flex: 1 1 auto;
    /*border: 0 !important;*/
}
.card-horizontal .card-body h5.card-title {
    font-weight: 500;
}
.card-horizontal .img-wrap-lazy {
    padding-bottom: 24.50%;
}

/*
 *  Social icons
 * ------------------------------------------------------------------------------
 */
ul.social li {
    width: 30px;
    height: 30px;
    display: inline-table;
    border: 0 !important;
    padding: 0 !important;
    transform: skewx(0deg) !important;
}
ul.social li:first-child {
    margin-left: 0;
}
ul.social li .icon-button {
    position: relative;
    top: 0;
    cursor: pointer;
    display: inline-block;

    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
}
/* Circle */
ul.social li .icon-button span {
    display: block;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
    height: 0;
}
ul.social li .icon-button:hover span {
    width: 30px;
    height: 30px;
    margin: -15px;
}
ul.social .facebook span {
    background: #3B5998;
}
ul.social .youtube span {
    background: #C60000;
}
ul.social .instagram span {
    background: #b043c2;
}
ul.social .twitter span {
    background: #1da1f2;
}
/* Icons */
ul.social li .icon-button i {
    background: none;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 30px;
    height: 30px;
}
ul.social li .icon-button.facebook i {
    color: #3B5998;
}
ul.social li .icon-button.youtube i {
    color: #C60000;
}
ul.social li .icon-button.instagram i {
    color: #b043c2;
}
ul.social li .icon-button.twitter i {
    color: #1da1f2;
}
ul.social li .icon-button:hover i {
    color: #ffffff;
}


/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
#footer {
    background: #112032;
    border-top: 2px solid #032ea1;
    display: block;
}
#footer p, #footer ul:not(.social) li a {
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    font-weight: 300;
    color: rgba(255,255,255,.8);
}
#footer ul:not(.social) li a:hover {
    text-decoration: underline;
}
#footer ul:not(.social) li i {
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    color: rgba(255,255,255,.8);
    padding-right: 3px;
}
#footer h4 {
    color: #ffffff;
    font-family: BayonV8Khmer,Arial,Helvetica,sans-serif;
    font-weight: 500;
}
#footer .copy {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 1rem;
}

/*
 *  B-LAZY CSS
 * ------------------------------------------------------------------------------
 */
.img-wrap-lazy {
    background: #1a1a1a;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    display: block;
}
.img-wrap-lazy.lazy-square {
    padding-bottom: 75%;
}
.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
    #navbarsExampleDefault ul.nav li {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    header, header nav.navbar, header .navbar-brand img {
        height: 50px;
    }
    a.second-brand .brand-image {
        float: none;
        margin-top: 0;
        margin-right: 0;
    }
    .sideMenu {
        max-width: 35%;
        top: 0;
        background-color: #00003E !important;
    }
    .sideMenu button.close {
        color: rgba(255,255,255,.8);
        outline: none;
        font-size: 2rem;
        font-weight: 300;
        text-shadow: none;
    }
    #navbarsExampleDefault ul.nav li {
        padding: 5px 15px;
        margin-bottom: 10px;
    }
    #navbarsExampleDefault ul.nav li:first-child {
        margin: 0 15px 15px 15px;
    }
    /*#navbarsExampleDefault ul li {
        padding: 0;
        border-right: 0;
        border-bottom: 1px solid #4f5962;
        margin-bottom: 10px;
    }
    #navbarsExampleDefault ul li a.nav-link {
        display: inline-block;
        height: auto;
    }
    #navbarsExampleDefault ul li a.nav-link i {
        padding-right: 5px;
        color: rgba(255,255,255,.8);
    }*/

    /* social */
    .sideMenu ul.social {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        text-align: center;
    }

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    /* full screen */
    .container-fluid.full-screen {
        padding-right: 0;
        padding-left: 0;
    }
    /* header */
    .sideMenu {
        max-width: 100%;
    }
    header #ads-header {
        width: 100%;
        max-width: 728px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 997;
        margin: 0 auto;
    }
    header #ads-header .close {
        position: absolute;
        top: 0;
        right: 0;
        text-shadow: none;
        outline: none;
        background-color: #6c757d;
    }
    /* search overlay */
    .search-overlay #close-btn {
        font-size: 32px;
    }
    .search-overlay .form-btn input,
    .search-overlay button#button-submit {
        font-size: 18px;
    }
    .search-overlay .form-btn input {
        height: 50px;
    }

    /* footer */
    #footer .hr {
        border-bottom: 1px solid #4f5962;
        margin-bottom: 1rem;
    }

    /* bootstrap */
    .card-horizontal-xs {
        flex-direction: inherit !important;
        display: flex;
        flex: 1 1 auto;
    }
    .card-horizontal-xs .img-wrap-lazy {
        padding-bottom: 24.50%;
    }
    /* carousel caption */
    .carousel-caption h3 {
        font-size: 16px;
        line-height: 29px;
        max-height: 58px;
    }
    /* background */
    .bg-block {
        background-color: transparent;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* sidebar */
    #container-sidebar {
        margin-left: -15px;
        margin-right: -15px;
    }
    .card-horizontal-xs .card-body h5.card-title {
        font-weight: 500;
    }
    .nav-right ul.social {
        display: none !important;
    }
    /* padding */
    .px-xs-0 {
        padding-left: 0;
        padding-right: 0;
    }


}
