/*
 *  Banner Slide
 * ------------------------------------------------------------------------------
 */
#banner-slide {
    margin: 0;
}
#banner-slide .slide {
    display: none !important;
    /*cursor: all-scroll;*/
    position: relative;
}
#banner-slide .slide:first-child {
    display: block !important;
}
#banner-slide.slick-initialized .slide {
    display: block !important;
}

/*
 *  CSS Page
 * ------------------------------------------------------------------------------
 */
.mb-13 {
    margin-bottom: 13px;
}
/* program */
.program {
    margin-left: -15px;
    margin-right: -15px;
}
.program .slide {
    display: none;
    padding: 0 15px;
}
.program.slick-initialized .slide {
    display: block;
}
.program .slick-arrow {
    position: absolute;
    /* top: 45%;*/
    top: 0;
    z-index: 99;
    height: 100%;
}
.program .slick-arrow.right {
    right: -15px;
}
.program .slick-arrow.left {
    left: -15px;
    transform: rotate(180deg);
}
.program .slick-arrow:hover {
    cursor: pointer;
}
.program .slick-arrow:focus,
.program .slide:focus {
    outline: none;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {


}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .mb-sm-13 {
        margin-bottom: 13px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*.program .col-6:nth-child(odd) {
        padding-right: 0.25rem;
    }
    .program .col-6:nth-child(even) {
        padding-left: 0.25rem;
    }
    .program .col-6 h5.card-title {
        font-weight: 500;
    }*/

}
